<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Toolbar Dropdown Menu -->
   <extension point="org.eclipse.ui.commands">
      <category id="com.jensdriller.zeeboxzonechooser.dropdown.category" name="DropDown"></category>
      <command categoryId="com.jensdriller.zeeboxzonechooser.dropdown.category" id="com.jensdriller.zeeboxzonechooser.dropdown.command" name="DropDown">
         <commandParameter id="com.jensdriller.zeeboxzonechooser.dropdown.msg" name="DropDown Option" optional="true"></commandParameter>
      </command>
      <command categoryId="com.jensdriller.zeeboxzonechooser.dropdown.category" id="com.jensdriller.zeeboxzonechooser.dropdown.commandUS" name="US">
         <commandParameter id="com.jensdriller.zeeboxzonechooser.dropdown.msg" name="DropDown Option" optional="true"></commandParameter>
      </command>
      <command categoryId="com.jensdriller.zeeboxzonechooser.dropdown.category" id="com.jensdriller.zeeboxzonechooser.dropdown.commandUK" name="UK">
         <commandParameter id="com.jensdriller.zeeboxzonechooser.dropdown.msg" name="DropDown Option" optional="true"></commandParameter>
      </command> 
      <command categoryId="com.jensdriller.zeeboxzonechooser.dropdown.category" id="com.jensdriller.zeeboxzonechooser.dropdown.commandIE" name="IE">
         <commandParameter id="com.jensdriller.zeeboxzonechooser.dropdown.msg" name="DropDown Option" optional="true"></commandParameter>
      </command> 
      <command categoryId="com.jensdriller.zeeboxzonechooser.dropdown.category" id="com.jensdriller.zeeboxzonechooser.dropdown.commandAU" name="AU">
         <commandParameter id="com.jensdriller.zeeboxzonechooser.dropdown.msg" name="DropDown Option" optional="true"></commandParameter>
      </command> 
      <command categoryId="com.jensdriller.zeeboxzonechooser.dropdown.category" id="com.jensdriller.zeeboxzonechooser.dropdown.commandSettings" name="Settings">
         <commandParameter id="com.jensdriller.zeeboxzonechooser.dropdown.msg" name="DropDown Option" optional="true"></commandParameter>
      </command> 
   </extension>
   
   <!-- Icons used for dropdown and for dropdown menu items -->
   <extension point="org.eclipse.ui.commandImages">
      <image commandId="com.jensdriller.zeeboxzonechooser.dropdown.command" icon="icons/zeebox.png"></image>
      <image commandId="com.jensdriller.zeeboxzonechooser.dropdown.commandUS" icon="icons/us.png"></image>
      <image commandId="com.jensdriller.zeeboxzonechooser.dropdown.commandUK" icon="icons/gb.png"></image>
 	  <image commandId="com.jensdriller.zeeboxzonechooser.dropdown.commandIE" icon="icons/ie.png"></image>
 	  <image commandId="com.jensdriller.zeeboxzonechooser.dropdown.commandAU" icon="icons/au.png"></image>
   </extension>
   
   <!-- Handlers for each dropdown menu item clicked -->
   <extension point="org.eclipse.ui.handlers">
      <handler commandId="com.jensdriller.zeeboxzonechooser.dropdown.command" class="com.jensdriller.zeeboxzonechooser.handlers.DropDownHandler"></handler>
      <handler commandId="com.jensdriller.zeeboxzonechooser.dropdown.commandUS" class="com.jensdriller.zeeboxzonechooser.handlers.DropDownHandler"></handler>
      <handler commandId="com.jensdriller.zeeboxzonechooser.dropdown.commandUK" class="com.jensdriller.zeeboxzonechooser.handlers.DropDownHandler"></handler>
      <handler commandId="com.jensdriller.zeeboxzonechooser.dropdown.commandIE" class="com.jensdriller.zeeboxzonechooser.handlers.DropDownHandler"></handler>
      <handler commandId="com.jensdriller.zeeboxzonechooser.dropdown.commandAU" class="com.jensdriller.zeeboxzonechooser.handlers.DropDownHandler"></handler>
      <handler commandId="com.jensdriller.zeeboxzonechooser.dropdown.commandSettings" class="com.jensdriller.zeeboxzonechooser.handlers.SettingsHandler"></handler>
   </extension>
   
   <!-- Dropdown Menu Options -->
   <extension point="org.eclipse.ui.menus">
      <!-- Toolbar Dropdown Menu -->
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar id="com.jensdriller.zeeboxzonechooser.dropdown.toolbar">
            <command commandId="com.jensdriller.zeeboxzonechooser.dropdown.command" id="com.jensdriller.zeeboxzonechooser.dropdown.toolbar.command" style="pulldown" 
                     tooltip="Zeebox TVC Options">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution locationURI="menu:com.jensdriller.zeeboxzonechooser.dropdown.toolbar.command">
         <!-- Dropdown Menu Options -->
         <command commandId="com.jensdriller.zeeboxzonechooser.dropdown.commandUS" label="US" style="push">
            <parameter name="com.jensdriller.zeeboxzonechooser.dropdown.msg" value="US"></parameter>
         </command>
         
         <command commandId="com.jensdriller.zeeboxzonechooser.dropdown.commandUK" label="UK" style="push">
            <parameter name="com.jensdriller.zeeboxzonechooser.dropdown.msg" value="UK"></parameter>
         </command>
         
         <command commandId="com.jensdriller.zeeboxzonechooser.dropdown.commandIE" label="IE" style="push">
            <parameter name="com.jensdriller.zeeboxzonechooser.dropdown.msg" value="IE"></parameter>
         </command>
         
         <command commandId="com.jensdriller.zeeboxzonechooser.dropdown.commandAU" label="AU" style="push">
            <parameter name="com.jensdriller.zeeboxzonechooser.dropdown.msg" value="AU"></parameter>
         </command>
         
         <separator name="settings" visible="true" />
         
         <command commandId="com.jensdriller.zeeboxzonechooser.dropdown.commandSettings" label="Settings" style="push">
            <parameter name="com.jensdriller.zeeboxzonechooser.dropdown.msg" value="Settings"></parameter>
         </command>
         
      </menuContribution>
   </extension>
</plugin>